<head>
  <style>

  </style>
</head>

<body>
  <% if session[:user_id].nil? %>

    <div class="container">
      <div id="not_logged_in">
        <p text-align="center">Yo, you gotta <%= link_to 'login', '/login' %> first, dawg...</p>
      </div>
    </div>

  <% else %>
    <%= render partial: '/layouts/partials/random_quote' %>

    <center><h1><%= @user.username %>'s Dashboard</h1></center>

    <div class="container">
      <div class="row">
        <!-- my book clubs -->
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <h3>My Bookclubs:</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <% @clubs.each do |club| %>
                <p><%= link_to club.name, club_path(club.id) %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- my recent activity -->
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <h3>My Recent Activity:</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <p>put 5 most recent comments here.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>
