---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists/current/hardcover-fiction.json?api-key=PubEWHMgQkTjLUetSVpP4QDCRYLTnemA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2022 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2022-03-09T23:08:02-05:00","results":{"list_name":"Hardcover
        Fiction","list_name_encoded":"hardcover-fiction","bestsellers_date":"2022-03-05","published_date":"2022-03-20","published_date_description":"latest","next_published_date":"","previous_published_date":"2022-03-13","display_name":"Hardcover
        Fiction","normal_list_ends_at":15,"updated":"WEEKLY","books":[{"rank":1,"rank_last_week":1,"weeks_on_list":2,"asterisk":0,"dagger":0,"primary_isbn10":"0063003058","primary_isbn13":"9780063003057","publisher":"Morrow","description":"Jess
        has suspicions about her half-brother\u2019s neighbors when he goes missing.","price":"0.00","title":"THE
        PARIS APARTMENT","author":"Lucy Foley","contributor":"by Lucy Foley","contributor_note":"","book_image":"https:\/\/storage.googleapis.com\/du-prd\/books\/images\/9780063003057.jpg","book_image_width":331,"book_image_height":500,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/0063003058?tag=NYTBSREV-20","age_group":"","book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":"","isbns":[{"isbn10":"0063003058","isbn13":"9780063003057"},{"isbn10":"0063003082","isbn13":"9780063003088"}],"buy_links":[{"name":"Amazon","url":"https:\/\/www.amazon.com\/dp\/0063003058?tag=NYTBSREV-20"},{"name":"Apple
        Books","url":"https:\/\/goto.applebooks.apple\/9780063003057?at=10lIEQ"},{"name":"Barnes
        and Noble","url":"https:\/\/www.anrdoezrs.net\/click-7990613-11819508?url=https%3A%2F%2Fwww.barnesandnoble.com%2Fw%2F%3Fean%3D9780063003057"},{"name":"Books-A-Million","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fp%252FTHE%252BPARIS%252BAPARTMENT%252FLucy%252BFoley%252F9780063003057&url2=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fsearch%253Fquery%253DTHE%252BPARIS%252BAPARTMENT%252BLucy%252BFoley"},{"name":"Bookshop","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fbookshop.org%2Fa%2F3546%2F9780063003057&url2=https%3A%2F%2Fbookshop.org%2Fbooks%3Faffiliate%3D3546%26keywords%3DTHE%2BPARIS%2BAPARTMENT"},{"name":"IndieBound","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fwww.indiebound.org%2Fbook%2F9780063003057%3Faff%3DNYT&url2=https%3A%2F%2Fwww.indiebound.org%2Fsearch%2Fbook%3Fkeys%3DTHE%2BPARIS%2BAPARTMENT%2BLucy%2BFoley%26aff%3DNYT"}],"book_uri":"nyt:\/\/book\/ef0030b7-5eca-5278-835a-ade95bfbb1f2"},{"rank":2,"rank_last_week":0,"weeks_on_list":1,"asterisk":0,"dagger":0,"primary_isbn10":"1982166797","primary_isbn13":"9781982166793","publisher":"Atria","description":"During
        a summer trip in Italy, Katy\u2019s late mother reappears as a 30-year-old
        woman.","price":"0.00","title":"ONE ITALIAN SUMMER","author":"Rebecca Serle","contributor":"by
        Rebecca Serle","contributor_note":"","book_image":"https:\/\/storage.googlea[...]
