<header>
  <style>
    .logo {
      position: relative;
      top: 10;
      left:10;
    }

    .inline {
      display: inline-block;
      position: relative;
      center-align: middle;
    }

    .logo-container {
      height: 80px;
      width: 80px;
      display: inline-block;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

  </style>

  <div class="logo">
    <div class="logo-container">
      <img class="banner" src="<%= asset_path 'logo.png' %>" alt="Book club logo">
    </div>

    <p class="inline">The Book Club</p>

  </div>
</header>

<body>


</body>
