<header>
  <style>
    .nav-container {
      position: relative;
      text-align: left;
    }


  </style>

</header>
<div id="nav-bar" class="container">
  <div class="nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/discover">Discover Books</a>
      </li>

      <% if session[:user_id] %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a> <p> Logged in as <%= current_user.username %> </p>

        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard">My Dashboard</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      <% end %>

    </ul>
  </div>
</div>
