<header>
  <style media="screen">
    #random-quote {
      position: relative;
      text-align: center;
      padding: 20px;
    }
  </style>
</header>

<div id="random-quote" class="container">
  <p> <%= @quote.quote %> <br> - <%= @quote.author %></p>
</div>
