<header>
  <style media="screen">
    #random-quote {
      border-style: solid;
      border-width: 5px;
    }
  </style>
</header>

<div id="random-quote" class="container" max-width="50%">
  <p> <%= @quote.quote %> <br> - <%= @quote.author %></p>
</div>
